# Homework 1
Mateusz BÅ‚ajda (mb406098)

## Importing Libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

from sklearn.model_selection import train_test_split
import numpy as np

## Loading Dataset
loading brain stroke dataset

In [2]:
dataset_path = '../../../brain_stroke.csv'
df = pd.read_csv(dataset_path)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

## Data preprocessing

Changing text values to binary or one hot encoding

In [3]:
df['gender'] = np.where(df['gender'] == 'Female', 1, 0)
df['ever_married'] = np.where(df['ever_married'] == 'Yes', 1, 0)
df['Residence_type'] = np.where(df['Residence_type'] == 'Urban', 1, 0)
w = pd.get_dummies(df['work_type'], prefix='work_type')
df = df.drop('work_type', axis=1).join(w)
s = pd.get_dummies(df['smoking_status'], prefix='smoking')
df = df.drop('smoking_status', axis=1).join(s)
df.head()

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,smoking_Unknown,smoking_formerly smoked,smoking_never smoked,smoking_smokes
0,0,67.0,0,1,1,1,228.69,36.6,1,0,1,0,0,0,1,0,0
1,0,80.0,0,1,1,0,105.92,32.5,1,0,1,0,0,0,0,1,0
2,1,49.0,0,0,1,1,171.23,34.4,1,0,1,0,0,0,0,0,1
3,1,79.0,1,0,1,0,174.12,24.0,1,0,0,1,0,0,0,1,0
4,0,81.0,0,0,1,1,186.21,29.0,1,0,1,0,0,0,1,0,0

## Preparing the dataset
spliting into train and test dataset (randomly at 8:2 ratio)

In [4]:
train, test = train_test_split(df, test_size= 0.2)
trainX = train.drop('stroke', axis=1)
trainY = train['stroke']

testX = test.drop('stroke', axis=1)
testY = test['stroke']

## Training the models
I trained 3 different models on this dataset:
* Logistic regression
* Random Forest
* AdaBoost

In [5]:
model1 = LogisticRegression(max_iter=1000, random_state=42).fit(trainX, trainY)
score1 = model1.score(testX, testY)

In [6]:
model2 = RandomForestClassifier(n_estimators=8, random_state=42).fit(trainX, trainY)
score2 = model2.score(testX, testY)

In [7]:
model3 = AdaBoostClassifier(n_estimators=8, random_state=42).fit(trainX, trainY)
score3 = model3.score(testX, testY)

In [8]:
print(f"Logistic regression score: {score1}")
print(f"Random Forest score: {score2}")
print(f"AdaBoost score: {score3}")

Logistic regression score: 0.950852557673019
Random Forest score: 0.9438314944834504
AdaBoost score: 0.950852557673019

## Results:
Every model performed well, Random forest was a little bit worse, AdaBoost and Logistic regression both had literally the same score